In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [156]:
data = pd.read_csv("..\Datasets\data_2008.csv")
state = data['State']
generation = data['Generation'].values
disposal = data['Disposal'].values
hcf = data['No of HCF'].values

In [157]:
df = pd.DataFrame({'Generation' : generation, 
                   'Disposal' : disposal, 
                   'No of HCF' : hcf}, 
                  index = state)
df

                                      Generation      Disposal     No of HCF
State
Andaman & Nicobar                         518.41        518.41             -
Andhra Pradesh                             13000         12100           567
Arunachal Pradesh                              -             -             -
Assam                                     3973.9        1019.2            54
Bihar                                       3280          2336          1327
Chandigarh                                  1640          1640             -
Chhattisgarh                             2608.87       2608.87            57
Daman & Diu and Dadra & Nagar Haveli           -            90           Nil
Delhi                                     8879.5        8879.5           527
Goa                                      1074.11       1074.11             0
Gujarat                                    25747         10000           552
Haryana                                  6110.38       6041.38            88
Himachal Pradesh                             922           922            20
J&K                                         1281           436           229
Karnataka                                  40796         29163          1293
Kerala                                    165444         52726             -
Lakshadweep                                    -             -             -
Madhya Pradesh                          4682.214      4449.034           738
Maharashtra                              31996.1         30298          3171
Manipur                                  30558.7       30558.7           531
Meghalaya                                 372.76        359.86             2
Mizoram                                    315.8         180.1             6
Nagaland                                       -             -             -
Orissa                                   4382.42        3090.7            98
Puducherry                                  3923          3923            10
Punjab                                   5507.86       4865.76            94
Rajasthan                                  31399         18620          1558
Sikkim                                    620.86        620.86             -
Tamilnadu                                  44478         27279          1329
Tripura                                      483  Not Assessed  Not assessed
Uttarakhand                              2211.85        1191.3            85
Uttar Pradesh                              35222         13500          2457
West Bengal                             24582.75      13523.25          4041
Jharkhand                                10733.5        6189.8           256

In [158]:
# There are 6 Regions in India 
north_zone = pd.Series(['Chandigarh','Delhi','Haryana','Himachal Pradesh','J&K','Punjab','Rajasthan','Uttarakhand', 'Uttar Pradesh'])
south_zone = pd.Series(['Andaman and Nicobar', 'Andhra Pradesh', 'Karnataka', 'Kerala','Lakshadweep', 'Puducherry', 'Tamil Nadu'])
east_zone = pd.Series(['Bihar', 'Jharkhand', 'Orissa', 'West Bengal'])
west_zone = pd.Series(['Daman & Diu and Dadra & Nagar Haveli', 'Goa', 'Gujarat','Maharashtra'])
central_zone = pd.Series(['Chhattisgarh', 'Madhya Pradesh'])
north_east_zone = pd.Series(['Arunachal Pradesh','Assam','Manipur','Meghalaya','Mizoram','Nagaland','Sikkim','Tripura'])

len(north_zone) + len(south_zone) + len(east_zone) + len(west_zone) + len(central_zone) + len(north_east_zone)

34

In [159]:
north_data = df.loc[north_zone, :]
south_data = df.loc[south_zone, :]
west_data = df.loc[west_zone, :]
east_data = df.loc[east_zone, :]
central_data = df.loc[central_zone, :]
north_east_data = df.loc[north_east_zone, :]

east_data

            Generation  Disposal No of HCF
State
Bihar             3280      2336      1327
Jharkhand          NaN       NaN       NaN
Orissa         4382.42    3090.7        98
West Bengal   24582.75  13523.25      4041

In [161]:
df.loc['Goa']

Generation    1074.11
Disposal      1074.11
No of HCF           0
Name: Goa, dtype: object